<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/check/byid" method="post">
        <input type="search" name="search" placeholder="search Packet">
        <input type="submit" >
    </form>
    <hr>
    <form action="/check/alloted" method="post">
        <input type="submit" name="Check Allotement">Allotted
    </form>
    <hr>
    <form action="/check/notalloted" method="post">
        <input type="submit" name="Check remaining" placeholder="remaining">remaining
    </form>
    <hr>
    <form action="/check/checked" method="post">
        <input type="submit" name="Check remaining" placeholder="remaining">Checked
    </form>
    <hr>
    <form action="/check/notchecked" method="post">
        <input type="submit" name="Check remaining" placeholder="remaining"> Non Checked
    </form>
    <hr>
    <br>
     
    <h1>Packet Add On </h1>
    <form action="/addpacket" method="post">
        <input type="text" name="PacketNo" placeholder="packet no">
        <input type="text" name="NoofSheet" placeholder="No of sheet">
        <input type="text" name="Source" placeholder="source">
        <input type="text" name="Destination" placeholder="destination">
        <input type="date" name="Date" placeholder="date">
        <input type="time" name="Time" placeholder="time">
        <input type="text" name="type" placeholder="Regular/REapear">
        
        <input type="text" name="Shift" placeholder="Shift">
        <input type="text" name="Semester" placeholder="semester">
        <input type="text" name="Subject" placeholder="Subject">
        <input type="submit" >

    </form>
    <form action="/check" method="get">
        <input type="submit" value="Check Packet">
    </form>
    <hr>
    <h1>Teacher Allocation</h1>
    <form action="/packetallocate" method="post">

        <input type="text" name="PacketNo" placeholder="packet no">
        <input type="text" name="TeacherId" placeholder="TeacherID">
        <input type="text" name="NoofSheet" placeholder="No of sheet"> 
        <input type="text" name="AllotBy" placeholder="AllotBy"> 
        <input type="text" name="AllotTo" placeholder="AllotTo">     
        <input type="date" name="Date" placeholder="date">
        <input type="time" name="Time" placeholder="time">
              
        <input type="text" name="Semester" placeholder="semester">
        <input type="text" name="Subject" placeholder="Subject">
        <input type="submit" >

    </form>

    <h1>Revieve From Teacher </h1>
    <form action="/recievePacket" method="post">

        <input type="text" name="PacketNo" placeholder="packet no">
        <input type="text" name="TeacherId" placeholder="TeacherID">
        <input type="text" name="NoofSheet" placeholder="No of sheet"> 
        <input type="text" name="RecieveBy" placeholder="AllotBy"> 
        <input type="text" name="RecieveFrom" placeholder="AllotTo">     
        <input type="date" name="Date" placeholder="date">
        <input type="time" name="Time" placeholder="time">
              
        <input type="submit">

    </form>


</body>
</html>
