<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to TMC</title>
    <link rel="icon" href="/images/logo2.png" type="icon/png">
    <link rel="stylesheet" href="/css/second.css">
</head>

<body>
    <div class="container">
        <div class="sub-1">

            <div class="img">
            </div>


            <h1 class="log-txt">Login</h1>
            <h2 class="label">Username</h2>
            <form action="/submit" method="post">
                <input type="text" name="username" id="email" placeholder="Username" required class="input"">
                <h2 class=" label">Password</h2>
                <input type="password" name="password" id="password" placeholder="Password" class="input">
                <button type="submit" class="submit">Login</button><br>
                <!-- <a href="forget.html" class="forget">Forget your Password ?</a> -->
            </form>
        </div>
        <div class="sub-2">
            <img src="" alt="">
        </div>
    </div>
</body>

</html>