<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Success</title>
</head>
<body>
    <h1>Submission Status</h1>
    <% if (message.length > 0) { %>
        <div id="flash-message"><%= message %></div>
    <% } %>
    <a href="/admin/addpacket">Go back to form</a>
</body>
</html>
